p{
    margin: 0px;
}
.title {
    letter-spacing: 3px;
}
.page-container {
    background-color: #e3ecf7;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* padding: 0.75rem; */
    min-height: 100vh;
}

.page-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #5185c5;
}

.bg-blue {
    background-color: #5185c5;
}

  @media only screen and (max-width: 425px) {
      
  }

  @media only screen and (max-width: 375px) {

  }