.bg-green {
    background: #00a092;
}

.text-green {
    color: #00a092;
}

p {
    margin: 0px;
}
a{
    color: #000;
}

.mt-custom-4{
    margin-top: 1.8rem;
}

.mt-custom-3{
    margin-top: 1.3rem;
}
.border-gray {
    border-color: #999999 !important;
}

.col-4-update {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 40%;
    max-width: 40%;
}

.box-content {
    background-color: #bfe7e4;
    border-radius: 10px;
}

.box-content .title-box {
    padding: 15px 14px 5px 14px;
}

.box-content .title-box p {
    background-color: #999999;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.box-content .inside-box {
    padding: 0px 14px 0px 14px;
}

.box-content .box-left {
    border: 2px solid #26aea2;
    height: 100%;
}

.box-content .box-left .text-value {
    height: 70%;
}

.box-content .box-left .text-value p {
    font-size: 5rem;
    color: #717071;
}

.box-content .box-right {
    border: 2px solid #26aea2;
}

.box-content .box-right .title p {
    font-size: 13px;
}

.box-content .box-right .text-value {
    font-size: 20px;
    color: #717071;
}

.box-content .inside-box .select-table .note-select {
    border: 1px solid #999999;
}

.box-content .inside-box .select-table .button-download button {
    border-radius: 20px 20px;
}

.square-box {
    position: relative;
}

.square-select .check-note {
    position: absolute;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background: #000;
}

.box-content .inside-box .select-table .evaluate {
    font-size: 2.6vw;
}

.box-content .inside-box .select-table .select-note span {
    letter-spacing: -4px;
}

.box-see-ratings .content {
    background-color: #9fc9e5;
    border-radius: 10px;
}

.box-percentile {
    border: 1px solid #a7a7a7;
}

.box-percentile .title {
    background-color: #999999;
}

.box-percentile h4 {
    color: #5c5a5a;
}

.slidecontainer .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: rgb(245,196,132);
    background: linear-gradient(36deg, rgba(245,196,132,1) 29%, rgba(232,84,45,1) 100%, rgba(234,89,9,1) 100%, rgba(240,154,37,1) 100%, rgba(246,183,88,1) 100%, rgba(249,195,111,1) 100%, rgba(253,221,162,1) 100%, rgba(255,244,192,1) 100%, rgba(226,21,12,1) 100%);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slidecontainer .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.slidecontainer .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.slidecontainer .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.box-interpretation-results .box-result {
    border: 1px solid #999999;
}

.box-interpretation-results img {
    max-width: 500px;
    height: auto;
}

.box-interpretation-results .box-result h4 {
    color: #595858;
}



.bg-gray {
    background-color: #999999;
}

.txt-color-pink {
    color: #EF7E8B;
}

.bg-dark-pink {
    background-color: #EF7E8B;

}

.bg-light-pink {
    background-color: #FADADE;
    border-radius: 10px;
}

.hr-vertical {
    border-left: 2px solid #EE7785;
}

.btn-round-30 {
    border-radius: 30px;
}

.bg-light-blue {
    background-color: #9fc9e5;
}
.box-inside .title{
    min-height: 60px;
}

@media screen and (max-width: 767.98px) {
    .box-content .inside-box .select-table .select-note {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 12px;
        word-spacing: -20px;

    }

    .box-content .inside-box .select-table .evaluate {
        font-size: 12px;
    }

    .box-inside-rating .box-inside,
.box-advice .box-inside {
    border: 1px solid #999999;
    padding: 20px 0px;
    margin-bottom: 20px;
}

.box-advice .box-inside .caption {
    line-height: auto;
    border-bottom: 3px solid #2db0a5;
}

.box-inside-rating .box-inside .caption {
    line-height: auto;
    border-right: 3px solid #2db0a5;
}

.box-advice .evaluate-one,
.evaluate-two,
.evaluate-three {
    position: relative;
}


.box-advice .evaluate-two::before,
.box-advice .evaluate-three::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -34px;
    width: 33px;
    height: 1px;
    background: #b0b0b0;
    /* transform: rotate(90deg); */
}

.box-advice .evaluate-two::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: -34px;
    width: 1px;
    height: calc(100% + 22px);
    background: #b0b0b0;
}

.box-advice .evaluate-three::after {
    content: '';
    position: absolute;
    bottom: 50%;
    left: -34px;
    width: 1px;
    height: calc(50% + 22px);
    background: #b0b0b0;
    /* transform: rotate(90deg); */
}

.width-50 {
    width: 50%;
}
.border-md-bottom{
    border-bottom: 1px solid #6c757d;
}

}

@media screen and (min-width: 768px)  and (max-width:1024px) {
    .box-content .inside-box .select-table .select-note {
        word-spacing: -20px;
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 11px;
    }

    .box-content .inside-box .select-table .evaluate {
        font-size: 11px;
    }

    .square-select .check-note {
        width: 0.8vw;
        height: 0.8vw;
    }  
    .evaluate-one .caption,.evaluate-two .caption,.evaluate-three .caption{
        min-height: 80px;
    }  

}

@media screen and (min-width: 1024px) {

    .box-content .inside-box .select-table .select-note{
        word-spacing: -20px;
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 14px;
    }

    .box-content .inside-box .select-table .evaluate {
        font-size: 14px;
    }

    .square-select .check-note {
        width: 0.6vw;
        height: 0.6vw;
    }  
    .evaluate-one .caption,.evaluate-two .caption,.evaluate-three .caption{
        height: 80px;
    }
    .img-stomach{
        width: 60%;
    }

}


@media screen and (min-width: 768px) {
    .hr-vertical {
        height: 20%;
        align-self: center!important;
        border-left: 2px solid #EE7785;
    }
    .border-box-bottom{
        border-bottom: 1px solid #6c757d;
    }

}

@media screen and (max-width: 360px) {
    .text-small-repo {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    .square-select .check-note {
        width: 8px;
        height: 8px;
    }
}

.square-select {
    max-width: 350px;
}

.square-box table {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background: rgb(247, 247, 247);
    background: linear-gradient(36deg, rgba(247, 247, 247, 1) 0%, rgba(255, 244, 192, 1) 16%, rgba(253, 221, 162, 1) 32%, rgba(252, 214, 148, 1) 46%, rgba(249, 195, 111, 1) 64%, rgba(246, 183, 88, 1) 79%, rgba(240, 154, 37, 1) 89%, rgba(234, 89, 9, 1) 94%, rgba(226, 21, 12, 1) 100%);
}

.square-box td {
    width: 16.666666666667%;
    position: relative;
    border: 1px solid #fff;
}

.square-box td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

.square-box td .content_square {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.img-stomach {
    max-height: 70px; 
}

.btn-warning-custom{
    background-color: #be9000;
}