.bg-green {
    background: #00a092;
}

.text-green {
    color: #00a092;
}

body {
    padding: 10px;
}

p {
    margin: 0px;
}

.col-7,
.col-5 {
    padding-right: 10px;
    padding-left: 10px;
}

.col-4-update {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 40%;
    max-width: 40%;
}

.box-content {
    background-color: #bfe7e4;
    border-radius: 10px;
}

.box-content .title-box {
    padding: 15px 20px 5px 20px;
}

.box-content .title-box p {
    background-color: #999999;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.box-content .inside-box {
    padding: 0px 20px 0px 20px;
}

.box-content .box {
    position: relative;
    width: 335px;
}

.box-content .box .image-index {
    position: absolute;
    top: 73px;
    left: 116px;
    width: 30px;
}

.box-content .box-left {
    border: 2px solid #26aea2;
    height: 175px;
}

.box-content .box-left .text-value {
    height: 70%;
}

.box-content .box-left .text-value p {
    font-size: 4rem;
    color: #717071;
}

.box-content .box-right {
    border: 2px solid #26aea2;
    margin-bottom: 5px;
}

.box-content .box-right .title p {
    font-size: 13px;
}

.box-content .box-right .text-value {
    font-size: 20px;
    color: #717071;
}

.box-content .inside-box .select-table .note-select {
    border: 1px solid #999999;
}

.box-content .inside-box .select-table .button-download button {
    border-radius: 20px 20px;
}

.square-box {
    position: relative;
}

.square-select .check-note {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background: #000;
    left: 13%;
    top: 65%;
}

.box-content .inside-box .select-table .select-note {
    writing-mode: vertical-rl;
    font-size: 10px;
    margin-right: 3px;
}

.box-content .inside-box .select-table .evaluate {
    font-size: 10px;
}

.box-see-ratings .content {
    background-color: #9fc9e5;
    border-radius: 10px;
}

.box-percentile {
    border: 1px solid #a7a7a7;
}

.box-percentile .title {
    background-color: #999999;
}

.box-percentile h4 {
    color: #5c5a5a;
}

.slidecontainer .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: rgb(244, 161, 51);
    background: linear-gradient(36deg, rgba(244, 161, 51, 1) 29%, rgba(232, 61, 15, 1) 100%, rgba(234, 89, 9, 1) 100%, rgba(240, 154, 37, 1) 100%, rgba(246, 183, 88, 1) 100%, rgba(249, 195, 111, 1) 100%, rgba(253, 221, 162, 1) 100%, rgba(255, 244, 192, 1) 100%, rgba(226, 21, 12, 1) 100%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slidecontainer .slider:hover {
    opacity: 1;
}

.slidecontainer .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.slidecontainer .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.box-note-percentile {
    font-size: 11px;
}

.box-inside-rating .box-inside,
.box-advice .box-inside {
    border: 1px solid #999999;
    padding: 20px 0px;
    margin-bottom: 20px;
}

.box-advice .box-inside .caption {
    line-height: auto;
    border-bottom: 3px solid #2db0a5;
}
.box-inside-rating .box-inside .caption {
    line-height: auto;
    border-right: 3px solid #2db0a5;
}

.box-interpretation-results .box-result {
    border: 1px solid #999999;
}

.box-interpretation-results img {
    max-width: 500px;
}

.box-interpretation-results .box-result h4 {
    color: #595858;
}

.box-advice .evaluate-one,
.evaluate-two,
.evaluate-three {
    position: relative;
}


.box-advice .evaluate-two::before,
.box-advice .evaluate-three::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -34px;
    width: 33px;
    height: 1px;
    background: #b0b0b0;
    /* transform: rotate(90deg); */
}

.box-advice .evaluate-two::after{
    content: '';
    position: absolute;
    bottom: 0%;
    left: -34px;
    width: 1px;
    height: calc(100% + 22px);
    background: #b0b0b0;
}

.box-advice .evaluate-three::after {
    content: '';
    position: absolute;
    bottom: 50%;
    left: -34px;
    width: 1px;
    height: calc(50% + 22px);
    background: #b0b0b0;
    /* transform: rotate(90deg); */
}
.bg-gray {
    background-color: #999999;
}

.txt-color-pink {
    color: #EF7E8B;
}

.bg-dark-pink {
    background-color: #EF7E8B;

}

.bg-light-pink {
    background-color: #FADADE;
    border-radius: 10px;
}

.hr-vertical {
    height: 100%;
    border-left: 2px solid #EE7785;
}

.btn-round-30 {
    border-radius: 30px;
}

@media screen and (max-width: 425px) {
    .box-content .box {
        width: 309px;
    }

    .box-content .box .image-index {
        position: absolute;
        top: 85px;
        left: 107px;
        width: 27px;
    }

    .advice-modul {
        width: 394px;
    }

}

@media screen and (max-width: 375px) {
    .box-content .box {
        width: 299px;
    }

    .box-content .box .image-index {
        position: absolute;
        top: 85px;
        left: 102px;
        width: 27px;
    }

    .advice-modul {
        width: 355px;
    }

}

@media screen and (max-width: 320px) {
    .box-content .box {
        width: 244px;
    }

    .box-content .box .image-index {
        position: absolute;
        top: 85px;
        left: 81px;
        width: 27px;
    }

    .advice-modul {
        width: 300px;
    }
}

.square-box table {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background: rgb(247, 247, 247);
    background: linear-gradient(36deg, rgba(247, 247, 247, 1) 0%, rgba(255, 244, 192, 1) 16%, rgba(253, 221, 162, 1) 32%, rgba(252, 214, 148, 1) 46%, rgba(249, 195, 111, 1) 64%, rgba(246, 183, 88, 1) 79%, rgba(240, 154, 37, 1) 89%, rgba(234, 89, 9, 1) 94%, rgba(226, 21, 12, 1) 100%);
}

.square-box td {
    width: 16.666666666667%;
    position: relative;
    border: 1px solid #fff;
}

.square-box td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

.square-box td .content_square {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}