*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
p{
    margin: 0px;
}
img{
    width: 100%;
}
ul{
    margin: 0px;
}
.bg-35-gray {
    background-color: #999999;
    height: 35px;
}
.txt-color-pink {
    color: #EF7E8B;
}
.bg-pink-box {
    background-color: #EF7E8B;

}
.bg-pink1-box {
    background-color: #FADADE;

}
.hr-vertical {
    height: 100%;
    border-left: 2px solid #EE7785;
}
